 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color:white;
            color:green;
            padding: 1rem 0;
            border-bottom: 1rem black;
        }

        .nav-container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        
        }

        .logo h1 {
            font-size: 2rem;
            font-weight: bold;
        }

        .nav-links {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        .nav-link {
            color:black;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .nav-link:hover {
            background-color: green;
        }

        .signup-btn {
            background-color: #f39c12;
            color: #2c5530;
            font-weight: bold;
        }

        .signup-btn:hover {
            background-color: #e67e22;
        }
